<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NCompanyMapper">
    
    <resultMap type="NCompany" id="NCompanyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="license"    column="cplicense"    />
        <result property="leName"    column="lename"    />
        <result property="leAge"    column="leage"    />
        <result property="leEmail"    column="leemail"    />
        <result property="lePhone"    column="lephone"    />
        <result property="leCard"    column="lecard"    />
        <result property="state"    column="state"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectNCompanyVo">
        select id, name, address, cplicense, lename, leage, leemail, lephone, lecard, state, remark, create_by, create_time, update_by, update_time, is_deleted from n_company
    </sql>

    <select id="selectNCompanyList" parameterType="NCompany" resultMap="NCompanyResult">
        <include refid="selectNCompanyVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="cplicense != null  and cplicense != ''"> and cplicense = #{cplicense}</if>
            <if test="lename != null  and lename != ''"> and lename like concat('%', #{lename}, '%')</if>
            <if test="leage != null "> and leage = #{leage}</if>
            <if test="leemail != null  and leemail != ''"> and leemail = #{leemail}</if>
            <if test="lephone != null  and lephone != ''"> and lephone = #{lephone}</if>
            <if test="lecard != null  and lecard != ''"> and lecard = #{lecard}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectNCompanyById" parameterType="Long" resultMap="NCompanyResult">
        <include refid="selectNCompanyVo"/>
        where id = #{id}
    </select>

    <insert id="insertNCompany" parameterType="NCompany" useGeneratedKeys="true" keyProperty="id">
        insert into n_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="address != null">address,</if>
            <if test="license != null">cplicense,</if>
            <if test="leName != null">leName,</if>
            <if test="leAge != null">leAge,</if>
            <if test="leEmail != null">leEmail,</if>
            <if test="lePhone != null">lePhone,</if>
            <if test="leCard != null">leCard,</if>
            <if test="state != null">state,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="address != null">#{address},</if>
            <if test="license != null">#{license},</if>
            <if test="leName != null">#{leName},</if>
            <if test="leAge != null">#{leAge},</if>
            <if test="leEmail != null">#{leEmail},</if>
            <if test="lePhone != null">#{lePhone},</if>
            <if test="leCard != null">#{leCard},</if>
            <if test="state != null">#{state},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="tenantId != null">#{tenantId}</if>
         </trim>
    </insert>

    <update id="updateNCompany" parameterType="NCompany">
        update n_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="cplicense != null">cplicense = #{cplicense},</if>
            <if test="lename != null">lename = #{lename},</if>
            <if test="leage != null">leage = #{leage},</if>
            <if test="leemail != null">leemail = #{leemail},</if>
            <if test="lephone != null">lephone = #{lephone},</if>
            <if test="lecard != null">lecard = #{lecard},</if>
            <if test="state != null">state = #{state},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNCompanyById" parameterType="Long">
        delete from n_company where id = #{id}
    </delete>

    <delete id="deleteNCompanyByIds" parameterType="String">
        delete from n_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>